/*
                 _       _     _
__   ____ _ _ __(_) __ _| |__ | | ___  ___
\ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
 \ V / (_| | |  | | (_| | |_) | |  __/\__ \
  \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/

*/
/*
 _____                 _   _                 
|  ___|   _ _ __   ___| |_(_) ___  _ __  ___ 
| |_ | | | | '_ \ / __| __| |/ _ \| '_ \/ __|
|  _|| |_| | | | | (__| |_| | (_) | | | \__ \
|_|   \__,_|_| |_|\___|\__|_|\___/|_| |_|___/
                                             		
*/
/*
--CONVERT PX INTO EM--

Usage: font-size: em(32);
32 = The size in PX
$browser-context = The Ratio
*/
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);
body, * {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.15em;
}

p, span {
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  color: #343531;
  text-decoration: none;
}
a:hover, a:focus {
  color: #0055a5;
}

h1, .h1 {
  font-size: 2em;
}

h2, .h2 {
  font-size: 1.6em;
}

h3, .h3 {
  font-size: 1.25em;
}

h4, .h4 {
  font-size: 1.1em;
}

h5, .h5 {
  font-size: 1em;
}

h6, .h6 {
  font-size: 0.9em;
}

/* Font weights sizes */
.fw-xlight {
  font-weight: 100;
}

.fw-light {
  font-weight: 300;
}

.fw-normal {
  font-weight: 400;
}

.fw-medium {
  font-weight: 400;
}

.fw-bold, strong, b {
  font-weight: 700;
}

.fw-xbold {
  font-weight: 900;
}

/* Font sizes classes */
.size-xsmall {
  font-size: 0.7em;
}

.size-smaller {
  font-size: 0.8em;
}

.size-small {
  font-size: 0.9em;
}

.size-medium {
  font-size: 1.2em;
}

.size-large {
  font-size: 1.5em;
}

.size-larger {
  font-size: 1.8em;
}

.size-big {
  font-size: 2em;
}

.size-ultra {
  font-size: 2.5em;
}

.size-mega {
  font-size: 3em;
}

.size-giga {
  font-size: 4em;
}

/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
           _      _
 _ __ ___ (_)_  _(_)_ __  ___
| '_ ` _ \| \ \/ / | '_ \/ __|
| | | | | | |>  <| | | | \__ \
|_| |_| |_|_/_/\_\_|_| |_|___/

*/
/*
 ____                       _         _                   _       __             _ _
| __ )  __ _ ___  ___   ___| |_ _   _| | ___  ___ _    __| | ___ / _| __ _ _   _| | |_ ___
|  _ \ / _` / __|/ _ \ / __| __| | | | |/ _ \/ __(_)  / _` |/ _ \ |_ / _` | | | | | __/ __|
| |_) | (_| \__ \  __/ \__ \ |_| |_| | |  __/\__ \_  | (_| |  __/  _| (_| | |_| | | |_\__ \
|____/ \__,_|___/\___| |___/\__|\__, |_|\___||___(_)  \__,_|\___|_|  \__,_|\__,_|_|\__|___/
                                |___/
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
  color: #343531;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #0055a5;
  color: #FFF;
  text-shadow: none;
}

::selection {
  background: #0055a5;
  color: #FFF;
  text-shadow: none;
}

hr {
  display: block;
  height: 0;
  border: 0;
  border-top: 1px solid #DCDCDC;
  margin: 30px 0;
  padding: 0;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

img {
  vertical-align: middle;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}

blockquote p {
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.25;
}

blockquote p:last-child {
  margin-bottom: 0;
}

blockquote small {
  display: block;
  line-height: 1.428571429;
  color: #999999;
}

blockquote small:before {
  content: '\2014 \00A0';
}

blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}

blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}

blockquote.pull-right small:before {
  content: '';
}

blockquote.pull-right small:after {
  content: '\00A0 \2014';
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.428571429;
}

code,
pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  white-space: nowrap;
  background-color: #f9f2f4;
  border-radius: 4px;
}

pre {
  display: block;
  padding: 0.85em;
  margin: 0 0 0.75em;
  font-size: 0.95em;
  line-height: 1.428571429;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #F1F1F1;
  border: 1px solid #DCDCDC;
  border: 1px solid rgba(220, 220, 220, 0.15);
  border-radius: 30px;
}

sup, .sup {
  position: relative;
  font-size: 0.65em;
  top: -4px;
}

p {
  font-weight: 300;
  font-size: 1em;
  margin: 0 0 1em;
}

a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
a:hover, a:focus, a:active {
  outline: none;
}

object, embed {
  outline: 0;
}

input::-moz-focus-inner {
  border: 0;
}

/*
 ____                       _         _
| __ )  __ _ ___  ___   ___| |_ _   _| | ___  ___
|  _ \ / _` / __|/ _ \ / __| __| | | | |/ _ \/ __|
| |_) | (_| \__ \  __/ \__ \ |_| |_| | |  __/\__ \
|____/ \__,_|___/\___| |___/\__|\__, |_|\___||___/
                                |___/
*/
form h3 {
  margin-top: 0px;
}
form hr {
  margin: 22.5px 0;
}
form .row {
  margin-bottom: 12px;
}
form .row input, form .row textarea, form .row select {
  padding: 8px;
  margin: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 30px;
  border: 1px solid #DCDCDC;
}
form .row input:focus, form .row input:hover, form .row input:active, form .row textarea:focus, form .row textarea:hover, form .row textarea:active, form .row select:focus, form .row select:hover, form .row select:active {
  outline: none;
  border-color: #838383;
}
form .row input[type=text], form .row input[type=password], form .row input[type=number], form .row textarea[type=text], form .row textarea[type=password], form .row textarea[type=number], form .row select[type=text], form .row select[type=password], form .row select[type=number] {
  width: 100%;
}
form .row textarea, form .row select {
  width: 100%;
}
form .row .radio {
  padding-left: 20px;
}
form .row .radio input[type="radio"] {
  float: left;
  margin-left: -20px;
  margin-top: 4px;
}

.d-table {
  display: table;
  width: 100%;
  height: 100%;
}
.d-table .t-cell {
  display: table-cell;
  vertical-align: middle;
}

.alert {
  margin: 1em 0;
}

.alert-error {
  color: #d50000;
}

.alert-success {
  color: #32B100;
}

.alert-error, .alert-success {
  font-weight: 700;
  text-align: center;
}

.parsley-error {
  border: 1px solid #d50000 !important;
}

.checkbox .parsley-errors-list {
  margin: 0;
}

.parsley-error-list, .parsley-errors-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  top: -1px;
}
.parsley-error-list li, .parsley-errors-list li {
  text-align: right;
  float: right;
  background: #d50000;
  color: #FFF;
  padding: 0.3em 0.7em;
  font-weight: bold;
  font-size: 0.8em;
}

.overlay-upper {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

/*
 _   _      _                        _
| | | | ___| |_ __   ___ _ __    ___| | __ _ ___ ___  ___  ___
| |_| |/ _ \ | '_ \ / _ \ '__|  / __| |/ _` / __/ __|/ _ \/ __|
|  _  |  __/ | |_) |  __/ |    | (__| | (_| \__ \__ \  __/\__ \
|_| |_|\___|_| .__/ \___|_|     \___|_|\__,_|___/___/\___||___/
             |_|
*/
.img-responsive {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

.img-rounded {
  border-radius: 6px;
}

.img-circle {
  border-radius: 500px;
}

.cover-container {
  width: 100%;
  height: 100%;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.pull-none {
  float: none !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-uppercase {
  text-transform: uppercase;
}

.v-hidden {
  visibility: hidden;
}

.indent-hide {
  text-indent: -9999px;
  visibility: hidden;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.box {
  margin-bottom: 15px;
  padding: 15px;
}
.box.box-bordered {
  border: 1px solid #DCDCDC;
}
.box.box-rounded {
  border-radius: 30px;
}

.col-box-centered {
  float: none;
  margin: 0 auto;
}

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.mandatory {
  color: red;
  font-size: 0.9em;
  font-weight: bold;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-text-transform {
  text-transform: none;
}

/*
 ____                  ____      _     _
| __ )  _____  __     / ___|_ __(_) __| |
|  _ \ / _ \ \/ /____| |  _| '__| |/ _` |
| |_) | (_) >  <_____| |_| | |  | | (_| |
|____/ \___/_/\_\     \____|_|  |_|\__,_|

*/
.box-grid-xs {
  height: 220px;
}

.box-grid-sm {
  height: 340px;
}

.box-grid-md {
  height: 480px;
}

.box-grid-lg {
  height: 620px;
}

.box-grid-xlg {
  height: 840px;
}

.box-grid {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}
.box-grid .inner-box {
  position: relative;
  padding: 15px;
  width: 100%;
  height: 100%;
  text-align: center;
}
.box-grid .inner-box.left {
  text-align: left;
}
.box-grid .inner-box.right {
  text-align: right;
}
.box-grid hgroup {
  margin: 1.5em 0 0;
}
.box-grid .title {
  font-size: 2em;
  margin: 0;
}
.box-grid .subtitle {
  font-size: 1.2em;
  display: inline-block;
  color: #343531;
}
.box-grid .action {
  margin-top: 2em;
  margin-bottom: -2em;
}
.box-grid .action.stable {
  margin-bottom: 0;
}
.box-grid .z-upper {
  position: relative;
  z-index: 10;
}
.box-grid .box hgroup {
  margin-bottom: 1.5em;
}
@media (max-width: 480px) {
  .box-grid.xs-auto {
    height: auto;
  }
  .box-grid.xs-auto .img {
    display: none;
  }
}
@media (max-width: 767px) {
  .box-grid.sm-auto {
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .box-grid.md-auto {
    height: auto;
  }
  .box-grid .inner-box {
    padding: 15px 10%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .box-grid.lg-auto {
    height: auto;
  }
  .box-grid .inner-box {
    padding: 15px 20%;
  }
}
@media (min-width: 1200px) {
  .box-grid.xlg-auto {
    height: auto;
  }
  .box-grid.xlg-auto .inner-box {
    padding: 15px 30%;
  }
}

/*
 _____                                        _
|_   _|   _ _ __   ___   __ _ _ __ __ _ _ __ | |__  _   _
  | || | | | '_ \ / _ \ / _` | '__/ _` | '_ \| '_ \| | | |
  | || |_| | |_) | (_) | (_| | | | (_| | |_) | | | | |_| |
  |_| \__, | .__/ \___/ \__, |_|  \__,_| .__/|_| |_|\__, |
      |___/|_|          |___/          |_|          |___/

*/
body, * {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.15em;
}

p, span {
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  color: #FFF;
  text-decoration: none;
}
a:hover, a:focus {
  color: #0055a5;
}

h1, .h1 {
  font-size: 2em;
}

h2, .h2 {
  font-size: 1.6em;
}

h3, .h3 {
  font-size: 1.25em;
}

h4, .h4 {
  font-size: 1.1em;
}

h5, .h5 {
  font-size: 1em;
}

h6, .h6 {
  font-size: 0.9em;
}

/* Font weights sizes */
.fw-xlight {
  font-weight: 100;
}

.fw-light {
  font-weight: 300;
}

.fw-normal {
  font-weight: 400;
}

.fw-medium {
  font-weight: 400;
}

.fw-bold, strong, b {
  font-weight: 700;
}

.fw-xbold {
  font-weight: 900;
}

/* Font sizes classes */
.size-xsmall {
  font-size: 0.7em;
}

.size-smaller {
  font-size: 0.8em;
}

.size-small {
  font-size: 0.9em;
}

.size-medium {
  font-size: 1.2em;
}

.size-large {
  font-size: 1.5em;
}

.size-larger {
  font-size: 1.8em;
}

.size-big {
  font-size: 2em;
}

.size-ultra {
  font-size: 2.5em;
}

.size-mega {
  font-size: 3em;
}

.size-giga {
  font-size: 4em;
}

/*!
 * ANEKDOTES GRID
 * Inspired From Bootstrap Grid
 * Sitebase DIV 2015
 */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 22em) {
  .container {
    width: 100%;
  }
}
@media (min-width: 34em) {
  .container {
    width: 100%;
  }
}
@media (min-width: 48em) {
  .container {
    width: 90%;
  }
}
@media (min-width: 62em) {
  .container {
    width: 62em;
  }
}
@media (min-width: 84em) {
  .container {
    width: 78em;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row.extended {
  margin-left: 0;
  margin-right: 0;
}
.row.extended .col-xs-1,
.row.extended .col-xs-2,
.row.extended .col-xs-3,
.row.extended .col-xs-4,
.row.extended .col-xs-5,
.row.extended .col-xs-6,
.row.extended .col-xs-7,
.row.extended .col-xs-8,
.row.extended .col-xs-9,
.row.extended .col-xs-10,
.row.extended .col-xs-11,
.row.extended .col-xs-12,
.row.extended .col-sm-1,
.row.extended .col-sm-2,
.row.extended .col-sm-3,
.row.extended .col-sm-4,
.row.extended .col-sm-5,
.row.extended .col-sm-6,
.row.extended .col-sm-7,
.row.extended .col-sm-8,
.row.extended .col-sm-9,
.row.extended .col-sm-10,
.row.extended .col-sm-11,
.row.extended .col-sm-12,
.row.extended .col-md-1,
.row.extended .col-md-2,
.row.extended .col-md-3,
.row.extended .col-md-4,
.row.extended .col-md-5,
.row.extended .col-md-6,
.row.extended .col-md-7,
.row.extended .col-md-8,
.row.extended .col-md-9,
.row.extended .col-md-10,
.row.extended .col-md-11,
.row.extended .col-md-12,
.row.extended .col-lg-1,
.row.extended .col-lg-2,
.row.extended .col-lg-3,
.row.extended .col-lg-4,
.row.extended .col-lg-5,
.row.extended .col-lg-6,
.row.extended .col-lg-7,
.row.extended .col-lg-8,
.row.extended .col-lg-9,
.row.extended .col-lg-10,
.row.extended .col-lg-11,
.row.extended .col-lg-12,
.row.extended .col-xlg-1,
.row.extended .col-xlg-2,
.row.extended .col-xlg-3,
.row.extended .col-xlg-4,
.row.extended .col-xlg-5,
.row.extended .col-xlg-6,
.row.extended .col-xlg-7,
.row.extended .col-xlg-8,
.row.extended .col-xlg-9,
.row.extended .col-xlg-10,
.row.extended .col-xlg-11,
.row.extended .col-xlg-12 {
  padding-left: 0;
  padding-right: 0;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xlg-1,
.col-xlg-2,
.col-xlg-3,
.col-xlg-4,
.col-xlg-5,
.col-xlg-6,
.col-xlg-7,
.col-xlg-8,
.col-xlg-9,
.col-xlg-10,
.col-xlg-11,
.col-xlg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 22em) {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
  }

  .col-xs-12 {
    width: 100%;
  }

  .col-xs-11 {
    width: 91.66666667%;
  }

  .col-xs-10 {
    width: 83.33333333%;
  }

  .col-xs-9 {
    width: 75%;
  }

  .col-xs-8 {
    width: 66.66666667%;
  }

  .col-xs-7 {
    width: 58.33333333%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-5 {
    width: 41.66666667%;
  }

  .col-xs-4 {
    width: 33.33333333%;
  }

  .col-xs-3 {
    width: 25%;
  }

  .col-xs-2 {
    width: 16.66666667%;
  }

  .col-xs-1 {
    width: 8.33333333%;
  }

  .col-xs-pull-12 {
    right: 100%;
  }

  .col-xs-pull-11 {
    right: 91.66666667%;
  }

  .col-xs-pull-10 {
    right: 83.33333333%;
  }

  .col-xs-pull-9 {
    right: 75%;
  }

  .col-xs-pull-8 {
    right: 66.66666667%;
  }

  .col-xs-pull-7 {
    right: 58.33333333%;
  }

  .col-xs-pull-6 {
    right: 50%;
  }

  .col-xs-pull-5 {
    right: 41.66666667%;
  }

  .col-xs-pull-4 {
    right: 33.33333333%;
  }

  .col-xs-pull-3 {
    right: 25%;
  }

  .col-xs-pull-2 {
    right: 16.66666667%;
  }

  .col-xs-pull-1 {
    right: 8.33333333%;
  }

  .col-xs-pull-0 {
    right: auto;
  }

  .col-xs-push-12 {
    left: 100%;
  }

  .col-xs-push-11 {
    left: 91.66666667%;
  }

  .col-xs-push-10 {
    left: 83.33333333%;
  }

  .col-xs-push-9 {
    left: 75%;
  }

  .col-xs-push-8 {
    left: 66.66666667%;
  }

  .col-xs-push-7 {
    left: 58.33333333%;
  }

  .col-xs-push-6 {
    left: 50%;
  }

  .col-xs-push-5 {
    left: 41.66666667%;
  }

  .col-xs-push-4 {
    left: 33.33333333%;
  }

  .col-xs-push-3 {
    left: 25%;
  }

  .col-xs-push-2 {
    left: 16.66666667%;
  }

  .col-xs-push-1 {
    left: 8.33333333%;
  }

  .col-xs-push-0 {
    left: auto;
  }

  .col-xs-offset-12 {
    margin-left: 100%;
  }

  .col-xs-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-xs-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-xs-offset-9 {
    margin-left: 75%;
  }

  .col-xs-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-xs-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-xs-offset-6 {
    margin-left: 50%;
  }

  .col-xs-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-xs-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-xs-offset-3 {
    margin-left: 25%;
  }

  .col-xs-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-xs-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-xs-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 34em) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-push-11 {
    left: 91.66666667%;
  }

  .col-sm-push-10 {
    left: 83.33333333%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-8 {
    left: 66.66666667%;
  }

  .col-sm-push-7 {
    left: 58.33333333%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-5 {
    left: 41.66666667%;
  }

  .col-sm-push-4 {
    left: 33.33333333%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-2 {
    left: 16.66666667%;
  }

  .col-sm-push-1 {
    left: 8.33333333%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 48em) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-pull-11 {
    right: 91.66666667%;
  }

  .col-md-pull-10 {
    right: 83.33333333%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-8 {
    right: 66.66666667%;
  }

  .col-md-pull-7 {
    right: 58.33333333%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-5 {
    right: 41.66666667%;
  }

  .col-md-pull-4 {
    right: 33.33333333%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-2 {
    right: 16.66666667%;
  }

  .col-md-pull-1 {
    right: 8.33333333%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-push-11 {
    left: 91.66666667%;
  }

  .col-md-push-10 {
    left: 83.33333333%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-8 {
    left: 66.66666667%;
  }

  .col-md-push-7 {
    left: 58.33333333%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-5 {
    left: 41.66666667%;
  }

  .col-md-push-4 {
    left: 33.33333333%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-2 {
    left: 16.66666667%;
  }

  .col-md-push-1 {
    left: 8.33333333%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 62em) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-pull-11 {
    right: 91.66666667%;
  }

  .col-lg-pull-10 {
    right: 83.33333333%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-8 {
    right: 66.66666667%;
  }

  .col-lg-pull-7 {
    right: 58.33333333%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-5 {
    right: 41.66666667%;
  }

  .col-lg-pull-4 {
    right: 33.33333333%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-2 {
    right: 16.66666667%;
  }

  .col-lg-pull-1 {
    right: 8.33333333%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-push-11 {
    left: 91.66666667%;
  }

  .col-lg-push-10 {
    left: 83.33333333%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-8 {
    left: 66.66666667%;
  }

  .col-lg-push-7 {
    left: 58.33333333%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-5 {
    left: 41.66666667%;
  }

  .col-lg-push-4 {
    left: 33.33333333%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-2 {
    left: 16.66666667%;
  }

  .col-lg-push-1 {
    left: 8.33333333%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 84em) {
  .col-xlg-1, .col-xlg-2, .col-xlg-3, .col-xlg-4, .col-xlg-5, .col-xlg-6, .col-xlg-7, .col-xlg-8, .col-xlg-9, .col-xlg-10, .col-xlg-11, .col-xlg-12 {
    float: left;
  }

  .col-xlg-12 {
    width: 100%;
  }

  .col-xlg-11 {
    width: 91.66666667%;
  }

  .col-xlg-10 {
    width: 83.33333333%;
  }

  .col-xlg-9 {
    width: 75%;
  }

  .col-xlg-8 {
    width: 66.66666667%;
  }

  .col-xlg-7 {
    width: 58.33333333%;
  }

  .col-xlg-6 {
    width: 50%;
  }

  .col-xlg-5 {
    width: 41.66666667%;
  }

  .col-xlg-4 {
    width: 33.33333333%;
  }

  .col-xlg-3 {
    width: 25%;
  }

  .col-xlg-2 {
    width: 16.66666667%;
  }

  .col-xlg-1 {
    width: 8.33333333%;
  }

  .col-xlg-pull-12 {
    right: 100%;
  }

  .col-xlg-pull-11 {
    right: 91.66666667%;
  }

  .col-xlg-pull-10 {
    right: 83.33333333%;
  }

  .col-xlg-pull-9 {
    right: 75%;
  }

  .col-xlg-pull-8 {
    right: 66.66666667%;
  }

  .col-xlg-pull-7 {
    right: 58.33333333%;
  }

  .col-xlg-pull-6 {
    right: 50%;
  }

  .col-xlg-pull-5 {
    right: 41.66666667%;
  }

  .col-xlg-pull-4 {
    right: 33.33333333%;
  }

  .col-xlg-pull-3 {
    right: 25%;
  }

  .col-xlg-pull-2 {
    right: 16.66666667%;
  }

  .col-xlg-pull-1 {
    right: 8.33333333%;
  }

  .col-xlg-pull-0 {
    right: auto;
  }

  .col-xlg-push-12 {
    left: 100%;
  }

  .col-xlg-push-11 {
    left: 91.66666667%;
  }

  .col-xlg-push-10 {
    left: 83.33333333%;
  }

  .col-xlg-push-9 {
    left: 75%;
  }

  .col-xlg-push-8 {
    left: 66.66666667%;
  }

  .col-xlg-push-7 {
    left: 58.33333333%;
  }

  .col-xlg-push-6 {
    left: 50%;
  }

  .col-xlg-push-5 {
    left: 41.66666667%;
  }

  .col-xlg-push-4 {
    left: 33.33333333%;
  }

  .col-xlg-push-3 {
    left: 25%;
  }

  .col-xlg-push-2 {
    left: 16.66666667%;
  }

  .col-xlg-push-1 {
    left: 8.33333333%;
  }

  .col-xlg-push-0 {
    left: auto;
  }

  .col-xlg-offset-12 {
    margin-left: 100%;
  }

  .col-xlg-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-xlg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-xlg-offset-9 {
    margin-left: 75%;
  }

  .col-xlg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-xlg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-xlg-offset-6 {
    margin-left: 50%;
  }

  .col-xlg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-xlg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-xlg-offset-3 {
    margin-left: 25%;
  }

  .col-xlg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-xlg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-xlg-offset-0 {
    margin-left: 0%;
  }
}
/*
 _____ _                       _
|  ___(_)_   _____    ___ ___ | |_   _ _ __ ___  _ __  ___
| |_  | \ \ / / _ \  / __/ _ \| | | | | '_ ` _ \| '_ \/ __|
|  _| | |\ V /  __/ | (_| (_) | | |_| | | | | | | | | \__ \
|_|   |_| \_/ \___|  \___\___/|_|\__,_|_| |_| |_|_| |_|___/

*/
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.affix, .fixed {
  position: fixed;
}

/*
 ____                         _   _      _       _     _      ____      _
/ ___|  __ _ _ __ ___   ___  | | | | ___(_) __ _| |__ | |_   / ___|___ | |_   _ _ __ ___  _ __
\___ \ / _` | '_ ` _ \ / _ \ | |_| |/ _ \ |/ _` | '_ \| __| | |   / _ \| | | | | '_ ` _ \| '_ \
 ___) | (_| | | | | | |  __/ |  _  |  __/ | (_| | | | | |_  | |__| (_) | | |_| | | | | | | | | |
|____/ \__,_|_| |_| |_|\___| |_| |_|\___|_|\__, |_| |_|\__|  \____\___/|_|\__,_|_| |_| |_|_| |_|

*/
/* ------------------------------------- */
.inside {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #ededed));
  background: -moz-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
  background: -ms-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
}

.inside-full-height {
  /*
  // if you want to give content full height give him height: 100%;
  // with content full height you can't apply margins to the content
  // content full height does not work in ie
  */
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

/* ------------------------------------- */
.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}

.col-top {
  vertical-align: top;
}

.col-middle {
  vertical-align: middle;
}

.col-bottom {
  vertical-align: bottom;
}

@media (min-width: 22em) {
  .row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }

  .col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
  }

  .col-xs-top {
    vertical-align: top;
  }

  .col-xs-middle {
    vertical-align: middle;
  }

  .col-xs-bottom {
    vertical-align: bottom;
  }
}
@media (min-width: 34em) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }

  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }

  .col-sm-top {
    vertical-align: top;
  }

  .col-sm-middle {
    vertical-align: middle;
  }

  .col-sm-bottom {
    vertical-align: bottom;
  }
}
@media (min-width: 48em) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }

  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }

  .col-md-top {
    vertical-align: top;
  }

  .col-md-middle {
    vertical-align: middle;
  }

  .col-md-bottom {
    vertical-align: bottom;
  }
}
@media (min-width: 62em) {
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }

  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }

  .col-lg-top {
    vertical-align: top;
  }

  .col-lg-middle {
    vertical-align: middle;
  }

  .col-lg-bottom {
    vertical-align: bottom;
  }
}
@media (min-width: 84em) {
  .row-xlg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }

  .col-xlg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }

  .col-xlg-top {
    vertical-align: top;
  }

  .col-xlg-middle {
    vertical-align: middle;
  }

  .col-xlg-bottom {
    vertical-align: bottom;
  }
}
html, body {
  background: #2D2D2D;
}

body.no-top-space #main-content {
  padding-top: 0;
}
body.homepage #main-content {
  padding-top: 0;
}

.page_links a {
  color: black;
  margin: 10px;
}

.current_page span {
  color: cyan;
}

/*
  _    _                _
 | |  | |              | |
 | |__| | ___  __ _  __| | ___ _ __
 |  __  |/ _ \/ _` |/ _` |/ _ \ '__|
 | |  | |  __/ (_| | (_| |  __/ |
 |_|  |_|\___|\__,_|\__,_|\___|_|
*/
/*
 _____           _
|  ___|__   ___ | |_ ___ _ __
| |_ / _ \ / _ \| __/ _ \ '__|
|  _| (_) | (_) | ||  __/ |
|_|  \___/ \___/ \__\___|_|

*/
/*
               _   _
 ___  ___  ___| |_(_) ___  _ __  ___
/ __|/ _ \/ __| __| |/ _ \| '_ \/ __|
\__ \  __/ (__| |_| | (_) | | | \__ \
|___/\___|\___|\__|_|\___/|_| |_|___/

*/
#main-content {
  background: #FFF;
}

.main-page {
  background: #FFF;
}

.content {
  padding: 2.75em 0;
}

.section {
  margin-bottom: 3.5em;
}

.head-section {
  text-align: center;
}
.head-section.left {
  text-align: left;
}
.head-section.right {
  text-align: right;
}
.head-section .title {
  color: #343531;
  margin: 0;
  padding: 0;
  font-size: 2.5em;
}
.head-section .subtitle {
  margin: 15px 0 0;
  padding: 0;
  font-size: 1.5em;
}

.main-content {
  margin-top: 185px;
}

.entete {
  width: 100%;
  background-color: #FFF;
}
.entete .index-container {
  width: 95%;
  margin: 0 2.5%;
}
.entete h1 {
  font-size: 2em;
  font-weight: 900;
  color: #0055a5;
  text-align: center;
  margin-bottom: 0;
  text-transform: uppercase;
}
.entete img {
  width: 100%;
  margin: 2em 0;
}
.entete p.subtitle {
  color: #0055a5;
  font-weight: 400;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 2em;
}

.expertise {
  background-color: #0055a5;
  padding-bottom: 220px;
}
.expertise h2 {
  font-weight: 100;
  font-size: 1.8em;
  line-height: 0.9em;
  text-transform: none;
  color: #FFF;
}
.expertise h2 span {
  font-weight: 700;
}
.expertise p {
  color: #FFF;
  font-weight: 100;
  font-size: 1.2em;
}
.expertise p.service-title {
  text-align: center;
  font-size: 1.8em;
  line-height: 0.9em;
  margin-top: 1em;
  margin-bottom: 40px;
}
.expertise p.service-title span {
  font-weight: 700;
}
.expertise .service-container {
  width: 85%;
  margin: 0 7.5%;
  background-color: #00488c;
}

.realisation-text {
  position: relative;
  width: 100%;
  background-color: #FFF;
}
.realisation-text .blue-band {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 250px;
  background-color: #0055a5;
}
.realisation-text .colorful-band {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 250px;
  background-color: #00488c;
}
.realisation-text .container-realisation-text {
  width: 85%;
  margin: 0 7.5%;
  background-color: #e1e1e1;
  margin-top: -250px;
  position: relative;
  padding-top: 2em;
}
.realisation-text .container-realisation-text .img-block {
  width: 85%;
  margin: 0 7.5%;
  height: 325px;
  position: relative;
  overflow: hidden;
  z-index: 10;
  background-size: cover;
  background-position: center center;
}
.realisation-text .container-realisation-text .img-block.commercial {
  background-image: url("/assets/img/pages/ventilation-commercial.jpg");
}
.realisation-text .container-realisation-text .img-block.residentielle {
  background-image: url("/assets/img/pages/ventilation-residentielle.jpg");
}
.realisation-text .container-realisation-text .img-block.institutionnelle {
  background-image: url("/assets/img/pages/ventilation-institutionnelle.jpg");
}
.realisation-text .container-realisation-text .text-block {
  width: 85%;
  margin: 0 auto;
  z-index: 15;
  padding-bottom: 1em;
}
.realisation-text .container-realisation-text .text-block h3 {
  font-size: 1.5em;
  color: #000;
  line-height: 0.9em;
  font-weight: 100;
  text-transform: none;
  margin-bottom: 0.5em;
}
.realisation-text .container-realisation-text .text-block h3 span {
  font-weight: 400;
}
.realisation-text .container-realisation-text .text-block p {
  color: #000;
  font-size: 1.2em;
  font-weight: 100;
  line-height: 1.2em;
}

.bande-fournisseurs {
  background-color: #FFF;
}
.bande-fournisseurs h3 {
  font-size: 2.2em;
  color: #000;
  line-height: 1em;
  font-weight: 100;
  text-transform: none;
  margin-bottom: 0.5em;
  text-align: center;
  margin-top: 0;
}
.bande-fournisseurs h3 span {
  font-weight: 700;
}
.bande-fournisseurs p {
  text-align: center;
  font-weight: 300;
  margin-bottom: 3em;
}

.bande-expert {
  background-color: #0055a5;
}
.bande-expert h3 {
  font-size: 1.8em;
  color: #FFF;
  line-height: 0.9em;
  font-weight: 100;
  text-transform: none;
  margin-bottom: 0.5em;
  margin-top: 0;
}
.bande-expert h3 span {
  font-weight: 700;
}
.bande-expert p {
  color: #FFF;
  font-weight: 100;
  font-size: 1.2em;
}
.bande-expert .logo-section {
  margin-top: 1.8em;
}
.bande-expert .logo-section img {
  max-width: 70%;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
@media (max-width: 767px) {
  .logo-section .mobile-spacing {
    margin-bottom: 1.5em;
  }

  .fournisseurs .logo-section .row {
    margin-bottom: 0;
  }
  .fournisseurs .logo-section img {
    margin-bottom: 1.5em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  header .main-menu .mobile-menu-icon {
    right: 50px;
  }
}
@media (max-width: 991px) {
  /*
   _   _                _
  | | | | ___  __ _  __| | ___ _ __
  | |_| |/ _ \/ _` |/ _` |/ _ \ '__|
  |  _  |  __/ (_| | (_| |  __/ |
  |_| |_|\___|\__,_|\__,_|\___|_|
  
  */
  .main-content {
    margin-top: 100px;
  }

  .top-bar {
    display: none;
  }

  header .main-menu {
    height: 100px;
  }
  header .main-menu .logo {
    width: 50%;
  }
  header .main-menu .nav.desktop {
    display: none;
  }
  header .main-menu .nav.mobile {
    display: block;
  }
  header .main-menu .mobile-menu-icon {
    display: block;
  }

  .logo-section .col-lg-3 {
    text-align: center;
  }

  /*
   _____           _
  |  ___|__   ___ | |_ ___ _ __
  | |_ / _ \ / _ \| __/ _ \ '__|
  |  _| (_) | (_) | ||  __/ |
  |_|  \___/ \___/ \__\___|_|
  
  */
  footer .col-lg-3 {
    text-align: center;
  }
  footer ul li {
    display: block;
    text-align: center;
    margin: 1em 0;
    font-size: 1em;
  }
  footer ul li a {
    display: block;
    text-align: center;
    font-size: 1.2em;
  }
  footer .bottom-band {
    margin-top: 2em;
  }

  /*
    ___  _   _
   / _ \| |_| |__   ___ _ __   _ __   __ _  __ _  ___  ___
  | | | | __| '_ \ / _ \ '__| | '_ \ / _` |/ _` |/ _ \/ __|
  | |_| | |_| | | |  __/ |    | |_) | (_| | (_| |  __/\__ \
   \___/ \__|_| |_|\___|_|    | .__/ \__,_|\__, |\___||___/
                              |_|          |___/
  */
  .realisation-menu .plus-btn {
    margin-bottom: 2em;
  }

  .bottom-band-realisation {
    height: auto;
    padding-bottom: 2em;
  }

  .top-band.realisation h1 {
    font-size: 1.5em;
  }
  .top-band.realisation h1 span {
    font-size: 1.7em;
  }
}
@media screen and (max-width: 1345px) {
  header .main-menu .nav ul {
    float: right;
  }
  header .main-menu .nav .contact-btn {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  header .main-menu .logo {
    width: 70% !important;
  }

  header .main-menu .mobile-menu-icon {
    right: 20px;
  }
}

/*# sourceMappingURL=frontend.css.map */
